//FORM====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}

.form {
	&__title {
		max-width: 524px;
		@include adaptiv-value("font-size", 24, 20, 1);
		line-height: math.div(28, 24) * 100%;
		font-weight: 700;
		color: #2f3441;
		margin-bottom: 38px;
	}

	&__line {
		position: relative;
		margin-bottom: 41px;
		&:nth-child(3) {
			margin-bottom: 0;
		}
		&._error {
			.form__label {
				bottom: 35px;
				&--focus {
					display: none;
				}
				&--error {
					display: block;
				}
			}
		}
		&._focus {
			.form__label {
				&--focus {
					display: none;
				}
			}
		}
	}

	&__input {
		display: block;
		width: 100%;
		@include adaptiv-value("font-size", 16, 14, 1);
		color: #2f3441;
		padding: 0px 20px 11px 0px;
		border-bottom: 1px solid #2f3441;
		background-color: transparent;
		&._error {
			color: #df2030;
			border-bottom: 1px solid #df2030;
		}
	}

	&__label {
		position: absolute;
		bottom: 11px;
		pointer-events: none;
		&--focus {
			&::after {
				content: "*";
				color: #df2030;
			}
		}
		&--error {
			display: none;
			font-size: 16px;
			color: #df2030;
		}
	}

	&__prompt {
		font-size: 12px;
		line-height: math.div(14, 12) * 100%;
		color: #333333;
		margin-top: 10px;
	}

	&__checkbox {
		display: block;
		margin-top: 36px;
		max-width: 448px;
	}

	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-height: 60px;
		padding: 0px 31px;
		font-size: 16px;
		color: #ffffff;
		background-color: #df2030;
		border-radius: 3px;
		margin-top: 34px;
		@media (min-width: $md3+px) {
			&:hover {
				background-color: #ca1920;
			}
			&:active {
				box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}
	}

	&__error {
		font-size: 12px;
		margin-top: 11px;
		color: #df2030;
	}
}

//</FORM>====================================================================================================

//<CHECKBOX>====================================================================================================

.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: url("../img/icons/check.svg") center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 12px;
		line-height: 14px;
		color: #2f3441;
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 12px 0px 0px;
			flex: 0 0 15px;
			left: 0;
			top: 0;
			width: 15px;
			height: 15px;
			border-radius: 1px;
			border: 1px solid #2f3441;
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #df2030;
			}
		}
	}
}

//</CHECKBOX>====================================================================================================
